{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h3>

<form method='POST' action='/pick_a_schedule'>
<table>
<tr><td>请选取院系: </td><td>
  <select name='user_yuanxi'>           
    <option value="艺术设计与创意产业系">艺术设计与创意产业系</option>
	<option value="文学与传媒系">文学与传媒系</option>
  </select>
  <tr><td>请选取专业: </td><td>
  <select name='user_subject'>           
	<option value="艺术设计学">艺术设计学</option>
	<option value="数字媒体艺术">数字媒体艺术</option>
	<option value="公共艺术">公共艺术</option>
	<option value="汉语言文学">汉语言文学</option>
	<option value="新闻学">新闻学</option>
	<option value="网络与新媒体">网络与新媒体</option>
  </select>
  <tr><td>请选取课程: </td><td>
  <select name='user_class'>           
	<option value="专业任选课">专业任选课</option>
	<option value="专业必修课">专业必修课</option>
  </select>
</td></tr>
</table>
<p>准备就绪后,请单击此按钮：</p>
<p><input value='搞吧！' type='SUBMIT'></p>
</form>

{% endblock %}
